body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background: #111;
    border-radius: 15px;
    width: 30%;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.card h2 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.card p {
    color: #ddd;
    text-align: justify;
}

.subscription-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.subscription-form input[type="email"] {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    flex-grow: 1;
}

.subscription-form button {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s;
}

.subscription-form button:hover {
    background-color: #218838;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.social-icons a:hover {
    color: #007BFF;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    animation: fade-in 1s ease;
}
